.btn {
  background-color: #abb7f6;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 50px;
}

.reset {
  background-color: #f86868;
}

.btn:hover {
  background-color: #7a8ee5;
}

.reset:hover {
  background-color: #f13939;
}
